#OS X
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa

#AppCode
.idea

#Fastlane
fastlane/report.xml
fastlane/Readme.md
fastlane/test_output/*
fastlane/test_output

#builds
build/
archives/

#R.swift
*.generated.swift
fastlane/screenshots
my_derived_data
